.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* styles/Home.css */
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the home div takes full viewport height */
}

.content {
  flex: 1; /* Allow this section to grow and push the footer down */
}

.notification-panel, .task-views, .widgets {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px; /* Add some spacing between sections */
}

.view-selector button {
  margin-right: 10px;
}

.footer {
  padding: 15px;
  background-color: #f1f1f1;
  text-align: center;
  border-top: 1px solid #ddd;
}
